<!-- Navbar -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">Bucktown</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top">Home</a></li>
        <li class="page-scroll"><a href="#about">About</a></li>
        <li class="page-scroll"><a href="#features">Features</a></li>
        <li class="page-scroll"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End navbar -->
      
<!-- Hero -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <div class="form-container">
          <%= simple_form_for @subscriber, html: {id: "invite", class: "form-inline"} do |f| %>
            <div class="form-group">
              <label class="sr-only">Email</label>
              <%= f.input :email, label: false, placeholder: "Enter email here", input_html: { class: 'form-control input-lg', id: 'address'}, required: true %>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Subscribe Now</button>
            <div class="form-group">
              <div class="checkbox" style="position: relative; right: 100px;">
                <label>
                  <%= f.input :fp, label: "I am Fitness Professional" %>     
                </label>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End hero -->

<!-- About -->
<section id="about">
  <div class="container">
    <div class="overview text-center">
      <h1>Our Story</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero. Praesent quis arcu ac nibh tempus gravida at in magna. Sed sodales turpis elit, non dapibus eros luctus nec.</p>
    </div>
    <div class="overview-separator"></div>
    <div class="spacer-75px"></div>
      
    <!-- Images -->
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "600x400-1.jpg", class: "img-responsive img-center", alt: ""%>
      </div>
      <div class="col-sm-4">
        <%= image_tag "600x400-2.jpg", class: "img-responsive img-center", alt: ""%>
      </div>
      <div class="col-sm-4">
        <%= image_tag "600x400-3.jpg", class: "img-responsive img-center", alt: ""%>
      </div>
    </div>
    <!-- End images -->
      
    <div class="spacer-50px"></div>
      
    <!-- Text -->
    <div class="row">
      <div class="col-sm-6">
        <div class="overview">
          <h1>Heading</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero. Praesent quis arcu ac nibh tempus gravida at in magna.</p>
        </div>
        <div class="spacer-15px"></div>
          
        <!-- Items -->
        <div class="item">
          <div class="icon"><i class="fa fa-picture-o fa-2x"></i></div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
          </div>
        </div>
        <div class="item">
          <div class="icon"><i class="fa fa-compass fa-2x"></i></div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
          </div>
        </div>
        <div class="item">
          <div class="icon"><i class="fa fa-comments fa-2x"></i></div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
          </div>
        </div>
        <!-- End items -->
      </div>
      <div class="col-sm-6">
        <div class="overview">
            <h1>Testimonials</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
        </div>
        <!-- Blockquotes -->
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>John Doe <cite title="Source Title"><a href="#">envato.com</a></cite></footer>
        </blockquote>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>John Doe <cite title="Source Title"><a href="#">envato.com</a></cite></footer>
        </blockquote>
        <!-- End blockquotes -->
      </div>
    </div>
    <!-- End text -->
  </div>
</section>
<!-- End about -->

<!-- Features -->
<section id="features">
    <div class="container">
        <div class="overview text-center">
            <h1>Our Amazing Features</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero. Praesent quis arcu ac nibh tempus gravida at in magna. Sed sodales turpis elit, non dapibus eros luctus nec.</p>
        </div>
        <div class="overview-separator"></div>
        <div class="spacer-75px"></div>
        
        <!-- Items -->
        <div class="row">
            <div class="col-md-4 col-sm-6 item text-center">
                <i class="fa fa-flag fa-3x"></i>
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
            </div>
            <div class="col-md-4 col-sm-6 item text-center">
                <i class="fa fa-gift fa-3x"></i>
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
            </div>
            <div class="col-md-4 col-sm-6 item text-center">
                <i class="fa fa-cutlery fa-3x"></i>
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
            </div>
            <div class="col-md-4 col-sm-6 item text-center">
                <i class="fa fa-rocket fa-3x"></i>
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
            </div>
            <div class="col-md-4 col-sm-6 item text-center">
                <i class="fa fa-music fa-3x"></i>
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
            </div>
            <div class="col-md-4 col-sm-6 item text-center">
                <i class="fa fa-trophy fa-3x"></i>
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero.</p>
            </div>
        </div>
        <!-- End items -->
    </div>
</section>
<!-- End features -->

<!-- FAQ-->
<section id="faq">
  <div class="container">
    <div class="overview text-center">
      <h1>Frequently Asked Questions</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero. Praesent quis arcu ac nibh tempus gravida at in magna. Sed sodales turpis elit, non dapibus eros luctus nec.</p>
    </div>
    <div class="overview-separator"></div>
    <div class="spacer-75px"></div>
      
    <div class="row">
      <div class="col-sm-6">
        <h4><strong>Question 1:</strong> Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat velit, dictum in sem at, cursus scelerisque sapien. Curabitur ultrices sapien et est molestie, sit amet blandit dolor porttitor.</p>
      </div>
      <div class="col-sm-6">
        <h4><strong>Question 2:</strong> Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat velit, dictum in sem at, cursus scelerisque sapien. Curabitur ultrices sapien et est molestie, sit amet blandit dolor porttitor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4><strong>Question 3:</strong> Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat velit, dictum in sem at, cursus scelerisque sapien. Curabitur ultrices sapien et est molestie, sit amet blandit dolor porttitor.</p>
      </div>
      <div class="col-sm-6">
        <h4><strong>Question 4:</strong> Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat velit, dictum in sem at, cursus scelerisque sapien. Curabitur ultrices sapien et est molestie, sit amet blandit dolor porttitor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4><strong>Question 5:</strong> Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat velit, dictum in sem at, cursus scelerisque sapien. Curabitur ultrices sapien et est molestie, sit amet blandit dolor porttitor.</p>
      </div>
      <div class="col-sm-6">
        <h4><strong>Question 6:</strong> Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat velit, dictum in sem at, cursus scelerisque sapien. Curabitur ultrices sapien et est molestie, sit amet blandit dolor porttitor.</p>
      </div>
    </div>
  </div>
</section>
<!-- End FAQ -->

<!-- Clients -->
<section id="clients">
  <div class="container">
    <div class="overview text-center">
        <h1>Our Trusted Partners</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque libero. Praesent quis arcu ac nibh tempus gravida at in magna. Sed sodales turpis elit, non dapibus eros luctus nec.</p>
    </div>
    <div class="overview-separator"></div>
    <div class="spacer-75px"></div>
      
    <div class="row">
      <div class="col-md-2 col-sm-4">
        <%= image_tag "clients/1.png", class: 'img-responsive img-center', alt: ''%>
      </div>
      <div class="col-md-2 col-sm-4">
        <%= image_tag "clients/2.png", class: 'img-responsive img-center', alt: ''%>
      </div>
      <div class="col-md-2 col-sm-4">
        <%= image_tag "clients/3.png", class: 'img-responsive img-center', alt: ''%>
      </div>
      <div class="col-md-2 col-sm-4">
        <%= image_tag "clients/4.png", class: 'img-responsive img-center', alt: ''%>
      </div>
      <div class="col-md-2 col-sm-4">
        <%= image_tag "clients/5.png", class: 'img-responsive img-center', alt: ''%>
      </div>
      <div class="col-md-2 col-sm-4">
        <%= image_tag "clients/6.png", class: 'img-responsive img-center', alt: ''%>
      </div>
    </div>
  </div>
</section>
<!-- End clients -->

<!-- Call to action -->
<section id="cta">
  <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center">
          <div class="form-container">
            <%= simple_form_for @subscriber, html: {id: "invite", class: "form-inline"} do |f|%>
              <div class="form-group">
                <%= f.input :email, label: false, placeholder: "Enter email here", input_html: { class: 'form-control input-lg' }, required: true %>
              </div>            
              <button type="submit" class="btn btn-primary btn-lg">Subscribe Now</button>
              <div class="form-group">
                <div class="checkbox" style="position: relative; right: 100px;">
                  <label>
                    <%= f.input :fp, label: "I am Fitness Professional" %>     
                  </label>
                </div>
              </div> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      
<footer id="footer" class="text-center">
  <div class="container">
    <div class="footer-note">
      <p>Copyright &copy; 2014 FitnessNearMe. All rights reserved.</p>
    </div>
    <div class="social">
      <ul class="social-icons list-unstyled list-inline">
        <li><a href="https://twitter.com/FitnessNearMe"><div class="social-icon text-center"><i class="fa fa-twitter"></i></div></a></li>
        <li><a href="#"><div class="social-icon text-center"><i class="fa fa-facebook"></i></div></a></li>
      </ul>
    </div>
  </div>
</footer>